@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-image: url(../Imagens/foto-login.jpg);
}

body {
    background-color: rgba(0, 0, 0, 0.726);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100w;
}

section#login {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div#img  {
    display: none;
    background: rgb(116, 51, 51);
    background-size: cover;
    background-position: center center;
}

h1 {
    text-align: center;
}

div#form {
    padding: 10px;
}